---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1 class="image-title">
      搖滾精神 ？ 在屋裡拉屎就是搖滾精神。
      <img src="{{ amsf_user_assets }}/svg/amsf.svg">
    </h1>

    <h2 class="sub-title">搖滾精神 ？ 在屋裡拉屎就是搖滾精神。</h2>

    <small>a.k.a. <b>兔爺很帥</b>&#x30FB;我向佛許願&#x30FB;三天之內必夢安魂於酒香</small>
  </header>

  <div class="page-content">
  
    <h2>週</h2>
    {% for post in site.categories.week %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}  

    <h2>程式</h2>
    {% for post in site.categories.programmer %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>隨筆</h2>
    {% for post in site.categories.whatever %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>兔 13</h2>
    {% for post in site.categories.13 %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>還需要一些面對明天的力量</h2>
    {% for post in site.categories.power %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>紐西蘭</h2>
    {% for post in site.categories.newzealand %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}  
  </div>
</article>
