<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">

  <!-- Post title -->
  <header {{ amsf_page_heading_bg }}>

    <h1 class="{{ amsf_page_heading_class }}" title="{{ amsf_page_title | strip_html | xml_escape }}" data-title="{{ amsf_page_title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

    {% if page.date %}
      <small>
        <span rel="author">{{ author.name }}</span>
        於 <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time></br>
      </small>
    {% endif %}

    {% if page.desc %}
      <small>{{ page.desc }}</small>
    {% endif %}

  </header>

  <!-- Post content -->
  <div class="post-content">
    {{ content }}

    {% assign date_publish = page.date | date: "%b %-d, %Y" %}
    {% assign date_update  = page.last_modified_at | date: "%b %-d, %Y" %}

    {% if date_publish != date_update and site.dev == false %}
      <footer class="post-modified-date">
        <p>
          Updated
          <time datetime="{{ page.last_modified_at | date: " %FT%X+08:00 " }}">
            {{ page.last_modified_at | date: "%A, %b %d, %Y" }}
          </time>
        </p>
      </footer>
    {% endif %}

    閱讀時間: {{ amsf_page_reading_time }}
    </br></br>
    <center><div id="disqus_thread"></div></center>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://usagide-bo-ke.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div> 
</article>
